# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Payroll.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\AspNetCore\Payroll\Payroll\.idea\.idea.Payroll\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
